/*
*= require_self
*= require magnific-popup
*/

$white: rgb(255,255,255);
$vivid: rgb(43,200,35);
$vivid-visited: rgb(43,100,35);
$vivid-hover: rgb(43,220,35);
$mud: rgb(65, 53, 44);
$fluffy: #fff;
$wall: #bbb;
$cloud: #eee;
$storm: darkgray;
$rain: #444;
$error: #e54028;
$crimson: #e54028;
$sky: rgb(87,215,252);
$pineapple: rgb(249,200,0);

$basefont: San Francisco Text, Helvetica, Arial;

/* Global elements
----------------------------------------- */
body {
  color: $rain;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $basefont;
}

@media (min-width: 800px) {
  body {
    width: 800px;
  }
}

.d-text-center {
  text-align: center;
}

a {
  cursor: pointer;
  color: $vivid;
  outline: none;
}

a:visited {
  color: $vivid-visited;
}

.d-hidden {
  display: none;
}

h1 {
  color: $mud;
}

/* Header
----------------------------------------- */
.d-header {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $vivid;
  position: relative;
  color: white;
  min-width: 100%;
  clear: both;
  .d-header-icon {
    display: inline-block;
    padding: .75em 1em;
    font-size: 1.5em;
    line-height: 1em;
  }
  .d-header-link {
    color: white;
    outline: none;
  }
  .d-profile-icon-wrapper {
    position: relative;
    float: left;
    margin-left: 10px;
    .d-profile {
      @extend .d-header-icon;
    }
    .d-profile-icon {
      background: url(asset-path('header/profile@2x.png')) center center no-repeat;
      background-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .d-post-icon-wrapper {
    float: right;
    position: relative;
    margin-right: 10px;
    .d-post {
      @extend .d-header-icon;
    }
    .d-post-icon {
      background: url(asset-path('header/post@2x.png')) center center no-repeat;
      background-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .d-logo-wrapper {
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    .d-logo {
      background: url(asset-path('logos/dg_logo_sm@2x.png')) center center no-repeat;
      margin: 0 auto;
      background-size: 100px;
      height: 57px;
      width: 100px;
    }
  }
}

#d-logo {
  margin: 0 auto;
  display: block;
  max-width: 150px;
}

/* homepage */
@media (max-width: 799px) {
  .d-categories {
    float: none;
  }
}

@media (min-width: 767px) {
  .d-categories {
    width: 200px;
    clear: both;
    float: left;
  }
  .d-content {
    width: 557px;
    float: right;
    padding: 5px;
  }
}

.d-rewards-link {
  color: $crimson!important;
  img {
    height: 44px;
    width: 44px;
  }
}

.d-sizzle {
  line-height: 3em;
  color: $rain;
}

.d-bold {
  font-weight: bold;
}

/* Categories
----------------------------------------- */
.d-category-outer {
  width: 100%;
  padding: 0px;
  color: white;
  font-weight: bold;
}

.d-category-inner {
  padding: 10px;
  img {
    max-height: 25px;
  }
  .d-category-link {
    margin-left: 10px;
    color: white;
    line-height: 25px;
    text-decoration: none;
  }
}

/* Rewards
----------------------------------------- */

.d-rewards-section {
  padding-bottom: 20px;
  margin-top: 40px;
  clear: both;
  overflow: hidden;
}

/* Goods
----------------------------------------- */
.d-time-ago {
  font-size: 0.5em;
  color: $wall;
}
.d-comment-box {
  textarea {
    @extend .form-control;
    float: left;
    width: 75%!important;
  }
  .d-comment-button {
    margin-left: 5px;
    margin-top: 2px;
    float: left;
  }
}

.d-delete-post, .d-report-post {
  color: $crimson!important;
}

.d-evidence {
  margin: 0 auto;
  text-align: center;
  img {
    max-height:320px;
    max-width:320px;
  }
}

hr {
  height: 1px;
  border: none;
  color: $wall;
  background-color: $wall;
}

.d-icons {
  img {
    max-height: 44px;
    margin-left: 5px;
  }
}

.d-text {
  padding: 10px;
}

.d-evidence {
  max-width: 100%;
}

.d-location {
  line-height: 40px;
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-category {
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-poster {
  line-height: 25pt;
}

.d-nominee {
  line-height: 25pt;
}

.d-icons {
  width: 100%;
  position: relative;
  .d-icon-button {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    outline: none;
  }
  .d-comment-link, .d-follow-link, .d-dots-link, .d-vote-link {
    outline: none;
  }
  .d-vote {
    @extend .d-icon-button;
    background: url(asset-path('posts/bt_face_off@2x.png')) center center / 35px no-repeat;
    &.on {
      background: url(asset-path('posts/bt_face_on@2x.png')) center center / 35px no-repeat;
    }
  }
  .d-comment {
    @extend .d-icon-button;
    background: url(asset-path('posts/bt_bubble_off@2x.png')) center center / 35px no-repeat;
    &.on {
      background: url(asset-path('posts/bt_bubble_on@2x.png')) center center / 35px no-repeat;
    }
  }
  .d-follow {
    @extend .d-icon-button;
    background: url(asset-path('posts/bt_arrows_off@2x.png')) center center / 35px no-repeat;
    &.on {
      background: url(asset-path('posts/bt_arrows_on@2x.png')) center center / 35px no-repeat;
    }
  }
  .d-dots {
    @extend .d-icon-button;
    background: url(asset-path('posts/bt_dots@2x.png')) center center / 35px no-repeat;
  }
}

.d-dots-dropdown::before {
  position: absolute;
  background: url(asset-path('posts/arrow.png')) no-repeat;
  background-size: 15px 7px;
  content: "";
  display: block;
  top: -7px;
  left: 2px;
  width: 16px;
  height: 15px;
}
.d-dots-dropdown {
  border: solid lightgray 1px;
  background-color: white;
  padding: 5px;
  position: absolute;
  height: auto;
  width: 100px;
  left: 145px;
  color: gray;
  z-index: 999999;
}

/* Reset password
----------------------------------------- */

.d-reset-password {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

/* User List
----------------------------------------- */

.d-user-list-block {
  margin: 0 auto;
  width: 85%;
}

.d-user {
  clear: both;
  padding: 30px;
  .d-pic {
    float: left;
    margin-right: 10px;
  }
  .d-info {
    float: left;
    .d-name {
      font-weight: bold;
    }
  }
}

/* User
----------------------------------------- */
.d-profile-block {
  background-color: $mud;
  padding-bottom: 20px;
  padding-top: 10px;
  .d-profile-full-name {
    color: $vivid!important;
    line-height: 50px;
    font-weight: bold;
    font-size: 25pt;
    clear: both;
  }

  .d-profile-location {
    line-height: 1.1em;
    font-size: 0.9em;
    color: white;
  }

  .d-rank {
    color: $pineapple;
    font-weight: bold;
    line-height: 2em;
  }

  .d-dot {
    color: $vivid;
  }

  .d-settings-block, .d-follow-block {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
  }

  .d-follow {
    width:  150px;
    padding: 10px;
  }

  .d-settings {
    @extend .d-follow;
    width: 200px!important;
    color: $rain!important;
  }

  .d-followers {
    color: white;
    a {
      color: white;
      font-weight: bold;
    }
  }
}

.d-biography {
  line-height: 2.5em;
}

.d-sign-out {
  color: $crimson!important;
  line-height: 3em;
}

.d-record {
  line-height: 3em;
}

/* Modals
----------------------------------------- */
.white-popup {
  position: relative;
  background: $fluffy;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 7px;
}

/* Forms
----------------------------------------- */
label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
  display: block;
  font-size: 0.95em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: $fluffy;
}

.form-group {
  margin-bottom: 15px;
}

.alert-danger {
  padding: 8px;
  color: white;
  background-color: $error;
  text-align: center;
}

.d-error {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 320px;
}

.base-btn {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none;
}

.d-button {
  @extend .base-btn;
  touch-action: manipulation;
  color: $white;
  outline: none;
  font-weight: bold;
  background-color: $wall;
  border-color: $storm;
  border: 1px solid #999;
  border-bottom-width: 4px;
  text-decoration: none;
  border-radius: 3px;
}

.d-button:hover {
  background-color: $cloud;
}

.d-button:active {
  background-color: $storm;
}

.d-button-active {
  background-color: $vivid;
  border-color: $vivid-visited;
}

.d-button-active:hover {
  background-color: $vivid-hover;
}

.d-button-active:active {
  background-color: $vivid-visited;
}

.d-post-button {
  display: inline-block;
  padding: .75em 1em;
  font-size: 1.5em;
  line-height: 1em;
}

.d-post-button-wrapper {
  text-align: center;
  margin: 0 auto;
}

.d-category-label {
  display: inline;
}

/* Post good
----------------------------------------- */
.d-table {
  table-layout: fixed;
  .d-field-row {
    margin-bottom: 15px;
    .d-field-label {
      float: left;
      display: inline-block;
      padding-top: 5px;
      font-weight: bold;
      vertical-align: top;
      display: table-cell;
      text-align: right;
      margin-right: 2%;
      width: 23%;
    }
    .d-field {
      width: 70%;
      float: left;
      padding-bottom: 20px;
    }
  }
}

.d-post-page {
  textarea {
    @extend .form-control;
    height: 200px;
  }

  .d-category-select {
    padding-bottom: 10px;
    img {
      margin-right: 5px;
      margin-left: 3px;
    }
  }

  .d-radiolist {
    list-style:none;
    padding-left:0;
    margin: 0;
    padding: 0;
    margin-top: 2px;
  }

  .d-radiolist li {
    margin-bottom: 10px;
  }

  .d-radiolist li:after {
    content:"";
    clear: both;
    display: table;
  }

  .d-radiolist input[type=radio] {
    float: left;
    margin: 5px;
  }

  .d-radiolist label {
    padding: 2px;
    margin-left: 5px;
    display: block;
  }
  .d-explanation {
    font-size: 0.7em;
  }
}

.d-file-upload {
  position: relative;
  overflow: hidden;
  margin-top: 4px;
  padding: 8px;
  text-align: center;
  width: 120px;
  cursor: pointer;
}

.d-file-upload input.d-upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
}

.d-reward {
  float: left;
  width: 33%;
  text-align: center;
  .d-reward-title {
    font-weight: bold;
  }
  .d-reward-subtitle {
  }
  .d-teaser {
    margin: 0 auto;
    text-align: center;
    img {
      max-height:100px;
      max-width:100px;
    }
  }
}

/* Sign in dialog
--------------------------------------- */
#d-user-session-dialog {
  .d-session-button {
    padding: .5em 1.5em;
    font-size: 1em;
    line-height: 1em;
  }

  .d-user-session-header {
    height: 60px;
    line-height: 60px;
  }

  .d-user-session-heading {
    font-weight: bold;
    font-size: 20pt;
    float: left;
  }

  .d-create-account-link, .d-sign-in-link {
    float:right;
  }

  .d-forgot-password-link {
    margin-left: 30px;
  }
}

/* Privacy
------------------------------------------ */

.d-privacy-wrapper {
  margin: 20px;
}

/* Tags
------------------------------------------ */

.d-tags {
  overflow: auto;
  padding-bottom: 10px;
  color: $mud;
  ul {
    list-style-type: none;
    li {
      margin: 0;
      padding: 0;
      display:inline-block;
      vertical-align: top;
      width: 50%;
      float: left;
    }
  }
  .d-see-more {
    line-height: 50px;
  }
}

.d-tags-home {
  @extend .d-tags;
  background-color: $cloud;
  ul {
    padding: 0;
    li {
      list-style-position: inside;
    }

  }
}
