/* global */
body {
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: San Francisco Text, Helvetica, Arial;
}
.d-text-center {
  text-align: center;
}

a {
  color: rgb(43,200,35);
}

a:visited {
  color: rgb(43,100,35);
}

/* header */

.d-logo-background {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(43,200,35);
  min-width: 100%;
}

#d-logo {
  margin: 0 auto;
  display: block;
  max-width: 150px;
}

/* homepage */
@media (max-width: 799px) {
  .d-categories {
    float: none;
  }
}

@media (min-width: 800px) {
  body {
    width: 800px;
  }
  .d-categories {
    width: 200px;
    clear: both;
    float: left;
  }
  .d-content {
    width: 580px;
    float: right;
    padding: 5px;
  }
}

/* categories */

.d-category-outer {
  width: 99.5%;
  padding: 0px;
  color: white;
  font-weight: bold;
}

.d-category-inner {
  padding: 10px;
  img {
    max-height: 25px;
  }
  .d-category-link {
    margin-left: 10px;
    color: white;
    line-height: 25px;
    text-decoration: none;
  }
}

/* goods */

.d-evidence {
  max-height: 320px;
  max-width: 320px;
}

.d-icons {
  img {
    max-height: 44px;
    margin-left: 5px;
  }
}

.d-text {
  padding: 10px;
}

.d-evidence {
  max-width: 100%;
}

.d-location {
  line-height: 40px;
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-category {
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-poster {
  line-height: 25pt;
}

.d-nominee {
  line-height: 25pt;
}

/* user */
.d-profile-block {
  background-color: rgb(65, 53, 44);
  height: 150px;
}

.b-profile-full-name {
  color: rgb(43,200,35);
  line-height: 50px;
  font-weight: bold;
  font-size: 25pt;
  clear: both;
}

.b-followers {
  a {
    color: white;
    font-weight: bold;
  }
}

/* modals */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* forms */

label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
  display: block;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  touch-action: manipulation;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}

.d-forgot-password-link {
  margin-left: 30px;
}

.d-user-session-header {
  height: 60px;
  line-height: 60px;
}

.d-user-session-heading {
  font-weight: bold;
  font-size: 20pt;
  float: left;
}

.d-create-account-link, .d-sign-in-link {
  float:right;
}

.alert-danger {
  padding: 10px;
  border: 1px solid red;
  color: white;
  background-color: #ff3333;
  text-align: center;
}

.d-error {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 320px;
}
