$white: rgb(255,255,255);
$vivid: rgb(43,200,35);
$vivid-visited: rgb(43,100,35);
$vivid-hover: rgb(43,220,35);
$mud: rgb(65, 53, 44);
$wall: lightgray;
$storm: darkgray;

$basefont: San Francisco Text, Helvetica, Arial;

/* global */
body {
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $basefont;
}
.d-text-center {
  text-align: center;
}

a {
  cursor: pointer;
  color: $vivid;
}

a:visited {
  color: $vivid-visited;
}

.d-hidden {
  display: none;
}

/* header */

.d-header {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $vivid;
  position: relative;
  color: white;
  min-width: 100%;
  clear: both;
  .d-header-icon {
    display: inline-block;
    padding: .75em 1em;
    font-size: 1.5em;
    line-height: 1em;
  }
  .d-header-link {
    color: white;
    outline: none;
  }
  .d-profile-icon-wrapper {
    position: relative;
    float: left;
    margin-left: 10px;
    .d-profile {
      @extend .d-header-icon;
    }
    .d-profile-icon {
      background: url(asset-path('header/profile@2x.png')) center center no-repeat;
      background-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .d-post-icon-wrapper {
    float: right;
    position: relative;
    margin-right: 10px;
    .d-post {
      @extend .d-header-icon;
    }
    .d-post-icon {
      background: url(asset-path('header/post@2x.png')) center center no-repeat;
      background-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .d-logo-wrapper {
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    .d-logo {
      background: url(asset-path('header/dg_logo_sm@2x.png')) center center no-repeat;
      margin: 0 auto;
      background-size: 100px;
      height: 57px;
      width: 100px;
    }
  }
}

#d-logo {
  margin: 0 auto;
  display: block;
  max-width: 150px;
}

/* homepage */
@media (max-width: 799px) {
  .d-categories {
    float: none;
  }
}

@media (min-width: 800px) {
  body {
    width: 800px;
  }
  .d-categories {
    width: 200px;
    clear: both;
    float: left;
  }
  .d-content {
    width: 580px;
    float: right;
    padding: 5px;
  }
}

/* categories */

.d-category-outer {
  width: 99.5%;
  padding: 0px;
  color: white;
  font-weight: bold;
}

.d-category-inner {
  padding: 10px;
  img {
    max-height: 25px;
  }
  .d-category-link {
    margin-left: 10px;
    color: white;
    line-height: 25px;
    text-decoration: none;
  }
}

/* goods */

.d-evidence {
  max-height: 320px;
  max-width: 320px;
}

.d-icons {
  img {
    max-height: 44px;
    margin-left: 5px;
  }
}

.d-text {
  padding: 10px;
}

.d-evidence {
  max-width: 100%;
}

.d-location {
  line-height: 40px;
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-category {
  img {
    max-height: 30px;
    margin-right: 10px;
  }
}

.d-poster {
  line-height: 25pt;
}

.d-nominee {
  line-height: 25pt;
}

.d-icons {
  width: 100%;
  .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-size: 60px;
    margin-right: 10px;
  }
  .d-vote {
    @extend .button;
    background: url(asset-path('posts/bt_face_off@2x.png')) center center no-repeat;
    &.on {
      background: url(asset-path('posts/bt_face_on@2x.png')) center center no-repeat;
    }
  }
  .d-comment {
    @extend .button;
    background: url(asset-path('posts/bt_bubble_off@2x.png')) center center no-repeat;
    &.on {
      background: url(asset-path('posts/bt_bubble_on@2x.png')) center center no-repeat;
    }
  }
  .d-follow {
    @extend .button;
    background: url(asset-path('posts/bt_arrows_off@2x.png')) center center no-repeat;
    &.on {
      background: url(asset-path('posts/bt_arrows_on@2x.png')) center center no-repeat;
    }
  }
  .d-dots {
    @extend .button;
    background: url(asset-path('posts/bt_dots@2x.png')) center center no-repeat;
  }
}

/* reset password */

.d-reset-password {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

/* user */
.d-profile-block {
  background-color: $mud;
  height: 150px;
}

.b-profile-full-name {
  color: $vivid;
  line-height: 50px;
  font-weight: bold;
  font-size: 25pt;
  clear: both;
}

.b-followers {
  a {
    color: white;
    font-weight: bold;
  }
}

/* modals */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

/* forms */

label {
  display: inline-block;
  margin-bottom: 5px;
  width: 100%;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
  display: block;
  font-size: 14px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  touch-action: manipulation;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #fff;
  border-color: #ccc;
  outline: none;
}

.d-forgot-password-link {
  margin-left: 30px;
}

.d-user-session-header {
  height: 60px;
  line-height: 60px;
}

.d-user-session-heading {
  font-weight: bold;
  font-size: 20pt;
  float: left;
}

.d-create-account-link, .d-sign-in-link {
  float:right;
}

.alert-danger {
  padding: 10px;
  border: 1px solid red;
  color: white;
  background-color: #ff3333;
  text-align: center;
}

.d-error {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  width: 320px;
}

.d-first-step {
  text-align: center;
}

.d-button {
  color: $white;
  font-weight: bold;
  background-color: $wall;
  border-color: $storm;
  border: 1px solid #999;
  border-bottom-width: 4px;
  text-decoration: none;
  border-radius: 3px;
}

.d-button-active {
  background-color: $vivid;
  border-color: $vivid-visited;
}

.d-button-active:hover {
  background-color: $vivid-hover;
}

.d-button-active:active {
  background-color: $vivid-visited;
}

.d-nominate, .d-ask-for-help {
  display: inline-block;
  padding: .75em 1em;
  font-size: 1.5em;
  line-height: 1em;
}
