.d-category-outer[style="background-color: #{category.colour}"]
  .d-category-inner
    = image_tag "categories/icon_menu_#{category.name_constant}@2x.png", align: 'absmiddle'
    = link_to category.name, category_path(category.slug), class: 'd-category-link'
