<p>Hi <%= @resource.email %>!</p>

<p>Reset your Do Good password below:</p>

<p><%= link_to 'Change my password', devise_edit_user_password_url(@token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
