<div style="clear: both">
  <span style="color: gray; font-size: 20pt; font-weight: bold; font-family: 'Helvetica Neue', Arial">Reset your password</span>
</div>

<div style="clear: both; color: gray; font-family: 'Helvetica Neue', Arial">
  <p>Hi <%= @resource.full_name %>!</p>

  <p>Did you forget your password?  Reset it by clicking the following link:</p>

  <p><%= link_to 'Change my password', devise_edit_user_password_url(@token), style: "color: #2BC823" %></p>

  <p>If you didn't request this, please ignore this email.</p>

  <p>Your password won't change until you access the link above and create a new one.</p>

  <p>&nbsp;</p>
  <p>
    Cheers,<br>
    <a href="http://www.dogood.mobi/"><img src="http://www.dogood.mobi/images/logos/dg_logo_tiny_green.png"></a>
  </p>
</div>
